body {
	margin: 0;
    font: 14px Arial, Helvetica, sans-serif;
}
.wrap {
	margin: 0 auto;
	width: 900px;
	height: 600px;
	background-color: #0f0;
}
.dialog {
	display: none;
	position: fixed;
	top: 150px;
	left: 50%;
	z-index: 999;
    margin-left: -200px;
	width: 400px;
	height: 300px;
	background-color: red;
	-webkit-animation: colorchange 0.3s infinite;
	animation: colorchange 0.3s infinite;
}
@-webkit-keyframes colorchange {
    0% {background: #f00;}
    50% {background: #ff0;}
    100% {background: #ffa500;}
}
@keyframes colorchange {
    0% {background: red;}
    50% {background: yellow;}
    100% {background: orange;}
}
.header {
	padding: 5px;
	border-bottom: solid 1px #333;
	font-size: 24px;
	line-height: 24px;
    
}
.content {
    padding: 20px;
    height: 100%;
}
@font-face {
	font-family: 'iconfont';
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/iconfont.woff') format('woff'), /* chrome、firefox */
         url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    /*font-size: 20px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}
.close {
	float: right;
	cursor: pointer;
}
.lock {
    /*display: none;*/
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
} 
.placeholder {
    margin-top: 0;
    font: bold 36px'微软雅黑', '黑体', sans-serif;
    color: #00dd00;
}